body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(2, 7, 24);
    padding: 20px;
}
.cart-container {
    background-color: rgb(62, 51, 104);
    padding: 30px;
    border-radius:16px;
    
    
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
table {
    width: 100%;
    border-collapse:collapse ;
    margin-bottom: 20px;
}
th, td {
    padding: 12px;
    border: 2px solid #ffffff;
    text-align: center;
}
th {
    background-color: #a1bfff;
}
input[type="number"] {
    width: 60px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    border: none;
}
.total {
    text-align: center;
    font-size: 20px;
    margin: 20px ;
}
.button-group {
    display: flex;
    gap: 10px;
   
    
}
.btn {
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    
}
.btn-checkout {
     background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0); 
    }
.btn-checkout:hover {
     opacity: 0.7;
     }
.btn-clear { 
    background-color: rgb(255, 84, 84);
    color: white; 
}
.btn-clear:hover {
     background-color: #c82333;
     }
.btn-fav {
     background-color: #eeff00; 
      color: rgb(0, 0, 0);
     }
.btn-fav:hover {
    background-color: #8a9128; 
}
.btn-apply { 
    background-color: rgb(86, 125, 255); 
    color: rgb(0, 0, 0);
 }
.btn-apply:hover 
{ 
    opacity: 0.7;
 }

.backbtn{
    font-size: 20px;
    position: fixed;
    border-radius: 20rem;
    padding:0;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: rgb(230, 164, 43);
    right: 0;
    cursor: pointer;
    border: none;
    z-index: 9999;
    transition: 0.4s ease-in-out; 
}
.backbtn:hover{
    width: 60px;
    height: 60px;
    transition: 0.4s ease-in-out; 
}

.btns{
    display: flex;
    justify-content: space-between;
    

}
/*------------------------------------------*/
/*Mobile Responsive Styles */



@media (min-width:0px) and (max-width: 1476px) {
    body {
        max-width:1476px;
    }

   
    th, td {
        padding:1px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: 2px solid #ffffff;
        
    }
    .btn {
        padding: 10px;
        font-size: 15px;
    
        
 
    }    
    .btns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    
    }
}


