
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    
    
}
.checkout-container {
    padding: 30px;
    width: 500px;
    border-radius:20px; 
    border: 2px solid black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: auto;
}
h1 {
  text-align: center;  
}
input{
    border-radius: 8px;
}
h2 {
    font-size: 20px;
    border-bottom:2px solid rgb(173, 166, 166) ;
}
form {
    margin-top: 20px;
}
.form-section {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}
input{
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    
}
.order-summary {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.order-summary table {
    width: 100%;
    border-collapse: collapse;
}
.order-summary th, .order-summary td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}
.btn-submit {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.btn-submit:hover {
    opacity: 0.7;
}
.backbtn{
    font-size: 20px;
    position: fixed;
    border-radius: 20rem;
    padding:0;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: rgb(230, 164, 43);
    right: 0;
    cursor: pointer;
    border: none;
    z-index: 9999;
    transition: 0.4s ease-in-out; 
}
.backbtn:hover{
    width: 60px;
    height: 60px;
    transition: 0.4s ease-in-out; 
}
/*------------------------------------------*/
/*Mobile Responsive Styles */



@media (min-width:0px) and (max-width: 1476px) {
    body {
        max-width:1476px;
        padding: 0;
    }
    .checkout-container {
        width: 280px;
    }

   
   
}


